@import "tailwindcss";

.fondo {
    width: 100%;
    background-image: url("/img/fondo.jpg");
    background-size: cover;
    background-position: center;
}

.programa-fondo {
    width: 100%;
    background-image: url("/img/plan-estudios.jpg");
    background-size: cover;
}
